<div class="jumbotron">
  <h1 class="display-4">Build your resume @ <span class="text-primary">Resume Builder</span></h1>
  <p class="lead">Create attractive resumes here.</p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to "Build New Resume", new_resume_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
